.main-workplaces-history-content {
    display: flex;
    flex-direction: column;
}

.main-workplaces-history-header {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.main-workplaces-history-header-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.main-workplaces-history-header-style {
    width: 20%;
}


.main-workplaces-history-header-container span {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    background-color: #44474b;
    font-weight: bold;
}

.main-workplaces-history-content-container {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.main-workplaces-history-btn-item-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5px;
}

.main-workplaces-history-btn-item-container span {
    width: 100%;
    border: 1px solid #44474b;
    padding: 10px;
}

