.main-workplaces-history-content-item-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.main-workplaces-history-content-container span {
    width: 100%;
    border: 1px solid #44474b;
    padding: 10px;
    word-break: break-all;
}